.App > h2{
    border-bottom: 1px solid #eae7f8;
    color: #a3a7e4;
    font-family: Roboto;
    font-size: 1.4vmax;
    margin: 1vmax auto;
    padding: 1vmax;
    text-align: center;
    width: 30vmax;
}