.newEmployeeContainer {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
  }
  .newEmployeeContainer h1 {
    color: rgba(0, 0, 0, 0.733);
    /* font: 300 2rem "Roboto"; */
    text-align: center;
  }
  
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 88%;
    margin: auto;
    /* margin-bottom: -20rem; */
    }
    
    .add-employee {
        padding: 1rem 3rem; 
         border: 3px solid #a3a7e4;
         background-color: white;
         border-radius: 0.3rem;
         cursor: pointer;
    }

  .createEmployeeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    width: 65vh;
    background-color:  #eae7f8;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  
  .createEmployeeForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .createEmployeeForm > div > input,
  .createEmployeeForm > div > select {
    padding: 1vmax 4vmax;
    padding-right: 2vmax;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 0px;
    /* background-color:  #e2ddf5; */
    font: 300 0.9vmax cursive;
    outline: none;
  }

  .createEmployeeForm > div > select > option {
    padding: 1rem 1rem;
  }
  
  .createEmployeeForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  #createEmployeeFormFile > input {
    display: flex;
    padding: 0%;
  }
  
  #createEmployeeFormFile > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    /* background-color: #e2ddf5; */
  }
  
  #createEmployeeFormFile > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  #createEmployeeFormImage {
    width: 100%;
    overflow: auto;
  }
  
  #createEmployeeFormImage > img {
    width: 3vmax;
    margin: 0 0.5vmax;
  }
  #createEmployeeBtn {
    border: none;
    background-color: #a3a7e4;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  #createEmployeeBtn:hover {
    background-color: #7c83dd;
  }

  #registerImage > img {
    width: 2vmax;
    border-radius: 70%;
  }
  #registerImage > input {
    display: flex;
    padding: 0%;
  }
  
  #registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }

  #updateProfileImage > img {
    width: 3vmax;
    border-radius: 100%;
    margin: 1vmax;
  }
  #updateProfileImage > input {
    display: flex;
    padding: 0%;
  }
  
  #updateProfileImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #updateProfileImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  @media screen and (max-width: 600px) {
    .createEmployeeForm {
      padding: 5vmax;
    }
  
    .createEmployeeForm > div > input,
    .createEmployeeForm > div > select,
    .createEmployeeForm > div > textarea {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .createEmployeeForm > div > svg {
      font-size: 2.8vmax;
    }
  
    #createEmployeeFormFile > img {
      width: 8vmax;
      border-radius: 50%;
    }
  
    #createEmployeeFormFile > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }

    #updateProfileImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #updateProfileImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    #createEmployeeBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }

    #registerImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #registerImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  }